@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-800 text-white;
}

.tooltip-container:hover .tooltip {
  @apply opacity-100;
}

.tooltip:hover {
  @apply opacity-0;
}

/* Copied from Ubuntu's website */
.bg-grad {
  background-color: #772953;
  background-image: linear-gradient(
      to bottom left,
      rgba(119, 41, 83, 0.16) 0,
      rgba(119, 41, 83, 0.16) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to bottom right,
      rgba(228, 228, 228, 0.5) 0,
      rgba(228, 228, 228, 0.5) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to top left,
      rgb(41 37 36) 0%,
      rgb(41 37 36) 49.3%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(-89deg, #16a34a 0%, #15803d 42%, #042f2e 94%);

  color: #fff;
  align-items: center;
  background-blend-mode: multiply, multiply, normal, normal;
  background-position: top right, top left, right bottom -1px, left top;
  background-repeat: no-repeat;
  background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
  display: flex;
  height: 35rem;
  justify-content: flex-start;
  margin: 0;
}
